<footer class="footer">
    <p>The materials of this website are licensed under<a target="_blank"
            href="https://creativecommons.org/licenses/by-nc/2.0/"
            style="margin-left: 0.375rem; display: inline-block;">The
            Creative Commons</a></p>
    <p>{{meta.fullName}} @{{currentYear}}</p>
</footer>