<header>
    <img src="/feri.jpg" alt="Farzad Yousefzadeh" />
    <h1>Farzad Yousefzadeh</h1>
    <nav>
        <ul>
            <li><a href="/">About</a></li>
            <li><a href="/cv">CV</a></li>
            <li><a href="/talks">Talks</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
        <a>Follow @farzad_yz on Twitter</a>
    </nav>
</header>